form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 15px 0 5px 0;
}

input, textarea, button {
    width: 290px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#submit:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
  }

h2 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    width: 100px;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    width: 100px;
}